<div id="login2CheckoutModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">@Localizer["Please login to checkout"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="text-right"><a href="~/checkout/shipping" ng-class="{disabled: !vm.cart.isValid}" class="btn btn-primary">@Localizer["Regiser or Login to Checkout"]</a></p>

                        <form asp-area="Core" asp-controller="Account" asp-action="LoginAsGuest" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <h4>@Localizer["Checkout as Guest."]</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group row">
                                <div class="offset-md-4 col-md-8">
                                    <button type="submit" class="btn btn-primary">@Localizer["Checkout without Login"]</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">@Localizer["Continue shopping"]</button>
                    <a href="~/cart" role="button" class="btn btn-light">@Localizer["View cart"]</a>
                </div>
            </div>
        </div>
    </div>